[% INCLUDE TIDES/header.tmpl %]
    [% form %]
    <p>
    A collection is a group of samples that has been collected together.
    Sample IDs must be unique within a collection.
    </p>
[% INCLUDE TIDES/footer.tmpl %]
