[% INCLUDE TIDES/header.tmpl %]
    [% form %]
    <p>Supported formats (with expected file extension, type):</p>
    <ul>
        <li>Conexio 454 (.xls or .xlsx, Excel)</li>
        <li>HLA Fusion (.xls or .xlsx, Excel)</li>
        <li>MIRING-compliant HML (.xml, XML)</li>
        <li>StripScan (.txt, text)</li>
        <li>Vanilla (.xls or .xlsx, Excel)</li>
    </ul>
[% INCLUDE TIDES/footer.tmpl %]
