    <p>TIDES v[% version %]. Developed by <a href="http://knowledgesynthesis.com/">Knowledge Synthesis Inc.</a> for <a href="http://www.chori.org/">Children's Hospital Oakland Research Institute</a> and the <a href="https://www.ucsf.edu/">University of California San Francisco</a>.</p>
    </body>
</html>
