body {
	font: bold 12px Arial, Helvetica, sans-serif;
	margin: 12px;
}
#header {
	height:30px;
	font: bold 20px Arial, Helvetica, sans-serif;
	padding: 16px;
	border: 3px solid #bfd6fe;
	background: top left no-repeat url("tides.png");
	box-shadow: 7px 7px 5px #888888;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-bottom: 12px;
}
#header p {
	color: #bfd6fe;
	margin-top: -20px;
	margin-bottom: 5px;
	letter-spacing: 5.4px;
	text-align: right;
	font: bold 10px Courier, monospace;
	opacity: 0.15;
}
table {
	margin-top:12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-background-clip: padding-box;
	overflow: hidden;
	border:6px;
	table-layout: fixed;
}
th {
	font: normal 14px Arial, Helvetica, sans-serif;
	padding: 6px;
}
td {
	font: normal 14px Courier New, Courier, monospace;
	padding: 6px;
	word-wrap: break-word;
}
tr:nth-child(odd) {
	background-color: #bcccee;
}
tr:nth-child(even) {
	background-color: #bfd6fe;
}
tr:nth-child(1) {
	background-color: #acbcce;
}
.login {
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
}
.login tr {
	background-color:#ffffff;
}
.login input {
	margin: 1px;
	margin-bottom: 5px;
}
.login input:hover {
	margin: 1px;
	margin-bottom: 5px;
}
input {
	color: #000;
	font-size: 12px;
	border: 1px solid #000;
	margin: 10px;
	margin-bottom: 15px;
	padding: 5px;
	background: #acbcce;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-background-clip: padding-box;
	overflow: hidden;
	box-shadow: 5px 5px 5px #888888;
}

input:hover {
	color: #000;
	font-size: 12px;
	border: 1px solid #000;
	margin: 10px;
	margin-bottom: 15px;
	padding: 5px;
	background: #bfd6fe;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-background-clip: padding-box;
	overflow: hidden;
	box-shadow: 6px 6px 6px #999999;
}

.propertyselect {
	color: #000;
	height: 27px;
	font-size: 12px;
	border: 1px solid #000;
	margin: 10px;
	margin-bottom: 15px;
	padding: 5px;
	background: #acbcce;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-background-clip: padding-box;
	overflow: hidden;
	box-shadow: 5px 5px 5px #888888;
}

.propertyselect:hover {
	background: #bfd6fe;
}

.deletebutton {
	border: none;
	padding: 0px;
}
.deletebutton:hover {
	border: none;
	padding: 0px;
}

label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #acbcce;
	border: 1px solid #000;
	#box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	box-shadow: 5px 5px 5px #888888;
	margin: 5px;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 5px 5px 5px #888888;
	background-color: #bfd6fe;
	#box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox + label:hover, .regular-checkbox:checked + label:hover {
	box-shadow: 6px 6px 6px #999999;
	background-color: #bfd6fe;
	color: #99a1a7;
	#box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #acbcce;
	border: 1px solid #000;
	#box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	box-shadow: 5px 5px 5px #888888;
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #000;
}

.tag {
	float:left;
	margin-top: 9px;
}

/* Style The Dropdown Button */
.dropbtn {
	width: 175px;
	background-color: #bfd6fe;
	color: black;
	margin-top: 0px;
	padding: 6px;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 5px 5px 5px #888888;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border-width: 2px;
	border-color: #9fb6de;
	margin-bottom: 3px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	float:right;
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #bfd6fe;
	font-size: 16px;
	font-weight: 500;
	min-width: 171px;
	margin-left: 2px;
	box-shadow: 7px 7px 5px #888888;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 9px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
background-color: #cfdbff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	border-color: #969;
	display: block;
}

.logout {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border-top: solid #549 1px;
}

